body {
    margin:0;
    padding: 0;
    /* background: url("background3.jpeg"); */
    background-image: linear-gradient(#8932E0,#E03286);
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
  /* for horizontal aligning of child divs */
    justify-content: center;
    min-height: 165vh;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 45px;
  color: #fff;
}
h3 {
  font-size: 18px;
  color: #fff;
}
ul {
  list-style-type: none;
  margin: 50px;
  padding: 0;
}
li {
  padding-bottom: 50px;
  width: 100%;
  justify-content: space-between;
  display:inline-block;
}
.topnav {
  background-color: #8932E0;
  overflow: hidden;
  width: 100%;
  margin:0;
  padding: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.topnav a.active {
  color: #9e9d9d
}
.screens{
  width: 187.5px;
  height: auto;
  overflow: hidden;
  border-radius: 30px;
  display:inline-block;
  margin-left: 32px;
  margin-top: 32px;
  box-shadow: 15px 15px;
}
.screens img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 406px;
  width: 187.5px;
}
.screens:hover img{
  transform: scale(1.1);
}
.wideScreens{
  width: 406px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  display:inline-block;
  margin-left: 32px;
  object-fit: cover;
  margin-top: 50px;
  box-shadow: 15px 15px;
}
.wideScreens img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 300px;
  width: 406px;
}
.behindScreens{
  margin-top: 100px;
  width: 100%;
  height: 65%;
  max-height: 465px;
  border-radius: 20px;
}
.behindWideScreens{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 400px;
  border-radius: 20px;
}
.profileImage {
  border-radius: 20%;
  height: 300px;
  width: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 5px solid black;
  background-color: #fff;
}
.profileImage img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.profileImage:hover img{
  transform: scale(1.1);
}
