/* CLASS - for many tags */
body {
    margin:0;
    padding: 0;
    background-image: linear-gradient( #E03286, #8932E0);
    /* background: url("background3.jpeg"); */
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    display: flex;
    overflow: scroll; 
    flex-wrap: wrap;
  /* for horizontal aligning of child divs */
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.lilSquare {
  width: 305px;
  height: 305px;
  display:inline-block;
  color: #333;
  background-color: #fff;
  margin-left: 10%;
  border-radius: 50%;
  transition: transform 0.8s;
  margin-bottom: 0;
  margin-right: 0;
}
.lilSquare:hover {
  background-color: #FFAAE7;
  transform: scale(1.1);
}
  .title{
    /* -webkit-text-stroke: #262121; */
    /* -webkit-text-stroke-color: #262121;
    -webkit-text-stroke-width: 6px; */
    margin-left: 5%;
    color: #fff;
    font-weight: bolder;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* /calc(16px + 0.4vw); */
  }
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */


  h1{
    color: #fff;
    /* font-weight:bolder; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h2 {
    /* font-size: calc(16px + 2vw); */
    font-size: 36; color: #fff; margin-left: 5%; font-weight: lighter; 
  }
h3 {
    font-size: 18px;
}
ul{
  margin-left: 23px;
  padding: 0;
}
.profileImage {
    border-radius: 50%;
    width: 20%;
    height: auto;
    padding: 2%;
    border: 5px solid black;
}
.topnav {
    background-color: #E03286;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    /*
    margin-left:10px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 0px;
    */
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    /* text-align: center;
    justify-content: center; */
    /* text-decoration: none; */
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .topnav a.active {
    color: #9e9d9d
  }
  .icon{
    width: 56px;
    height: 50px;
    color: white;
  }
  .download{
    width: 500px;
    height: 75px;
    margin-left: 5%;
  }
  .downloadButton{
    border-radius: 10px;
    width: 185px;
    height: 75px;
    background-color: #fff;
    /* display:inline-block; */
    float: left;
    border: 0px;
  }
  .downloadImage{
    width: 36px;
    height: 41px;
    float: left;
  }
  .education{
    background-color: #fff;
    margin: 4vw;
    width:83%;
    height: auto;
    border-radius: 5px;
    float: left;
    border-color: #333;
    padding: 3%;
    border-style: solid;
    justify-content: space-between;
  }
  .projectSquare{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin: 50px;
  }
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease ;
    background-color: #fff;
    border-radius: 20%;
  }
  .container {
    position: relative;
    width: 200px;
    background-color: #fff;
    border: 5px solid black;
    border-radius: 20%;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  .image {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 20%;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: #333;
    font-size: 20px;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #FFAAE7;
    border-radius: 19%;
    align-items: center;
  }
  .lilPicture {
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 10%;
  }
  
  .lilPicture:hover{
    filter: blur(4px);
  }
  @media (min-width:300px) {
    h1{
         font-size: 55px;
     }
     img.profileImage{
      width: 10%;
      height: auto;
    }
 }
  @media (min-width:700px) {
   h1{
        font-size: 80px;
    }
    img.profileImage{
      width: 12%;
      height: auto;
    }
}
@media (min-width:772px) {
  h1{
       font-size: 100px;
   }
   img.profileImage{
     width: 12%;
     height: auto;
   }
}
@media (min-width:968px) {
  h1{
       font-size: 110px;
   }
   img.profileImage{
     width: 13%;
     height: auto;
   }
}
@media (min-width:1048px) {
    h1{
        font-size: 130px;
    }
    img.profileImage{
      width: 15%;
      height: auto;
    }
}
@media (min-width:1315px) {
    h1{
        font-size: 156px;
    }
    img.profileImage{
      width: 18%;
      height: auto;
    }
}
