/* CLASS - for many tags */
body {
    margin:0;
    padding: 0;
    background-image: linear-gradient( #E03286, #8932E0);
    /* background: url("background3.jpeg"); */
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    display: flex;
    overflow: scroll; 
    flex-wrap: wrap;
  /* for horizontal aligning of child divs */
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.lilSquare {
  width: 305px;
  height: 305px;
  display:inline-block;
  color: #333;
  background-color: #fff;
  margin-left: 130px;
  border-radius: 50%;
  transition: transform 0.8s;
  margin-bottom: 0;
  margin-right: 0;
}
.lilSquare:hover {
  background-color: #FFAAE7;
  transform: scale(1.1);
}
  .title{
    /* -webkit-text-stroke: #262121; */
    /* -webkit-text-stroke-color: #262121;
    -webkit-text-stroke-width: 6px; */
    margin-left: 50px;
    color: #fff;
    font-weight: bolder;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1{
    color: #fff;
    font-weight:lighter
  }
  h2 {
    font-size: 36px;
  }
h3 {
    font-size: 18px;
}
ul{
  margin-left: 23px;
  padding: 0;
}
.profileImage {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    margin-top: 75px;
}
.topnav {
    background-color: #E03286;
    overflow: hidden;
    width: 100%;
    margin-left:10px;
    padding: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .topnav a.active {
    color: #9e9d9d
  }
  .icon{
    width: 56px;
    height: 50px;
    color: white;
  }
  .download{
    width: 500px;
    height: 75px;
    margin-left: 50px;
  }
  .downloadButton{
    border-radius: 10px;
    width: 185px;
    height: 75px;
    background-color: #fff;
    /* display:inline-block; */
    float: left;
    border: 0px;
  }
  .downloadImage{
    width: 36px;
    height: 41px;
    float: left;
  }
  .education{
    background-color: #fff;
    width: 80%;
    height: 200px;
    margin: 100px;
    width:80%;
    border-radius: 5px;
    float: left;
    border-color: #333;
    padding: 30px;
    border-style: solid;
    justify-content: space-between;
  }
  .projectSquare{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin: 50px;
  }
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease ;
    background-color: #fff;
    border-radius: 20%;
  }
  .container {
    position: relative;
    width: 200px;
    background-color: #fff;
    border: 5px solid black;
    border-radius: 20%;
    float: left;
    margin-right: 50px;
  }
  
  .image {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 20%;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: #333;
    font-size: 20px;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #FFAAE7;
    border-radius: 19%;
    align-items: center;
  }
  .lilPicture {
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 10%;
  }
  .lilPicture:hover{
    filter: blur(4px);
  }